*.iml
.gradle
.idea/
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
limelink.properties
example/.idea/
example/.gradle/
example/app/build/
example/build/
example/local.properties
example/limelink.properties
